@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    --form-color:#fae6d2 ;
    --main-color:#f2ece7;
    --label-color:#9c9a9a;
    --btn-submit-color:#ffd6ad;
    --input-focus-color:#4f4f4f;
    --invalid-color:#aa0000;
    --valid-color:#0f830f;
    --link-color: #d67d23;
}
*{
    padding: 0;
    margin: 0;
}

 main{
    display: flex;
    height: 100vh;
    background: var(--main-color);
    transition: all 0.9s ease;
    
}

 .background-image{
    background-image: url(assets/img/pexels-monstera-5634672.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    
}
.logo{
    color: var(--logo-color);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: rgba(0 0 0 / 0.45);
    height: 120px;
    color: var(--main-color);
    font-size: 1.3rem;
}
.logo:hover{
    color: var(--btn-submit-color);
    cursor: pointer;
}
.info{
    padding:50px 60px;
    line-height: 30px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 40px;  
}

.form_field{
    background-color: var(--form-color) ;
    padding: 20px 50px;
    box-shadow:  2px 0 5px  rgb(0 0 0 / 0.5);
    display: flex;
    flex-wrap: wrap;
    line-height: 91px;
    justify-content: space-between;
    padding-bottom: 50px;
}
form{
    text-transform: uppercase;
}
.form_field > legend{
    width: 100%;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 30px;
    text-transform: initial;
}

.form__input{
    width: 200px;
    height: 38px;
    padding-left: 6px;
    border: none;
    border-bottom: 1px solid var(--label-color);
    background-color: var(--form-color);
    text-align: inherit;
}
.form__group{
    position: relative;
    width: 200px;
    margin-right: 30px;
}


.form__label{
    cursor: pointer;
    position: absolute;
    font-size: 0.9rem;
    max-height: 20px;
    left: 5px;
    top: 0;
    transform: translateY(4px);
    transition: transform .5s, color .3s;
    color: var(--label-color) ;
}
.form__input:focus{
   outline: none;
   background-color: var(--form-color);
}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px) scale(.8);  
    transform-origin: left top;
    color: var(--input-focus-color);
  
}
span{
    text-transform: initial;
}

.input__valid{
    border-bottom: 2px solid var(--valid-color);
}

.input__valid ~ span::before{
    content: "✔";
    color: var(--valid-color);
    position: absolute;
    top: 0;
    right: 0;
}

.input__invalid{
    border-bottom:2px solid var(--invalid-color) ;
    transition: all 0.2s ease-in-out;
}
.input__invalid ~ span::before{
    content:attr(data-content);
    line-height: 15px;
    color: var(--invalid-color);
    font-weight: 600;
    font-size: 0.6rem;
    position: absolute;
    top: 74px;
    height: 0;
    transition: content 2.2s ease-in-out;
}

.input__invalid + .form__label{
    color: var(--invalid-color);
}

.form__footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.form__footer__login{
    display: inherit;
    align-items: center;
    gap: 20px;
}
.form__footer__terms{
    text-transform: initial;
    font-size: 0.8rem;
}
.form__footer__terms > p > a{
    text-decoration: none;
    color: var(--link-color);
    font-weight: 400;
}


.form__footer > * {
    margin: 10px 50px;

}

#btn-submit{
    height: 60px;
    width: 190px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 550;
    padding: 0 25px;
    border: none;
    background:var(--btn-submit-color) ;
    box-shadow:1px 2px 3px #9c9a9a ;
    cursor: pointer;
    transition: all 0.6s ;
}

#submit:hover{
    transform: scale(1.2);
}


#log__in{
    font-size: 16px;
}
#log__in__link{
    font-weight: bold;
    text-decoration: none;
}
#log__in__link:visited{
    color: var(--link-color);
}

@media screen and (max-width:1124px) {
    main{
        width: 100vw;
        height: 100%;
    }
    .background-image{
        background-size: cover;      
    }
}

@media screen and (max-width:843px){
    main{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .background-image{
        background-size: cover;
        width: 100vw;
      
    }
    .form_field{
        padding-bottom: 70px;
    }
    .form__footer{
        margin: 20px;
    }
}
@media screen and (max-width:672px){
    main{
        height: 100vh;
    }
    .form_field{
        gap: 14px;
    }

    .form_field,  legend{
        display: flex;
        justify-content: center;
        
    } 

    .form__input{
        width: 200px;
    }
    .input__invalid ~ span::before{
        position:relative;
    }
    
    .input__invalid ~ span::before{
        content:attr(data-content);
        color: var(--invalid-color);
        font-weight: 600;
        font-size: 0.7rem;
        position: absolute;
        top: 75px;
        left: 0;
        width: 250px;
    }
}